:root {
	--gray: #505050;
  --red: rgb(226, 141, 103);
	--yellow: rgb(247, 217, 87);
	--blue: rgb(156, 214, 214);
}
html, body, h1, h2, h3, h4, p, button, div {
	padding: 0;
	margin: 0;
	font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, monospace;
	color: var(--gray);
}
h1, h2 {
	font-family: "Oswald", Arial, sans-serif;
	font-size: 40px;
	font-weight: 300;

	text-transform: uppercase;
	text-align: center;
}
ul, li {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	color: var(--red);
}
a:hover {
	color: var(--yellow);
}
a:visited {
	color: var(--blue);
}
p {
	margin: 15px auto;
	font-size: 14px;
}
hr {
	height: 10px;

	margin: 0px;
	border: 0px;
}
.red-hr {
	background-color: var(--red);
}
.yellow-hr {
	background-color: var(--yellow);
}
.blue-hr {
	background-color: var(--blue);
}

.newsletter-form {
	background-color: var(--yellow);
	margin: 0 auto;
	padding: 15px 0 15px;
	text-align: center;
}
.newsletter-form p {
	display: inline;
}
@media only screen and (max-width: 920px) {
	.newsletter-form p {
		display: block;
		margin: 0 0 10px;
	}
}
.newsletter-form input {
	width: 175px;
	padding: 6px;

	border-style: none;
	border-radius: 5px;
}
.newsletter-form button {
	background-color: var(--gray);
	border-color: var(--gray);
	border-radius: 5px;

	color: var(--yellow);
	font-size: 14px;
	padding: 3px 7px;
}
.newsletter-form button:hover {
	background-color: var(--blue);
	border-color: var(--blue);
	color: var(--gray);
}

header {
	margin: 40px 20%;
}

.shows {
	margin: 5% 5%;
}
.subtext p {
	margin: 40px 5%;
	text-align: center;
}

footer {
	margin: 5% auto;
}
footer p {
	text-align: center;
}

ul {
	height: 50px;

	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	justify-content: space-around;
	-webkit-justify-content: space-around;

	margin: 0 auto;
}
@media all and (max-width: 480px) {
	ul {
		width: 90%;
	}
}
@media all and (min-width: 481px) and (max-width: 768px) {
	ul {
		width: 75%;
	}
}
@media all and (min-width: 769px) and (max-width: 1400px) {
	ul {
		width: 50%;
	}
}
@media all and (min-width: 1400px) {
	ul {
		width: 35%;
	}
}

@media all and (max-width: 480px) {
	.facebook, .facebook i:hover {
		color: var(--blue);
	}
	.instagram, .instagram i:hover {
		color: var(--yellow);
	}
	.twitter, .twitter i:hover {
		color: var(--red);
	}
}
@media all and (min-width: 481px) {
	.facebook, .instagram, .twitter {
		color: #000000;
	}
	.facebook i:hover {
		color: var(--blue);
	}
	.instagram i:hover {
		color: var(--yellow);
	}
	.twitter i:hover {
		color: var(--red);
	}
}
